set_var EASYRSA_REQ_COUNTRY    "NZ"
set_var EASYRSA_REQ_PROVINCE   "Wellington"
set_var EASYRSA_REQ_CITY       "Wellington"
set_var EASYRSA_REQ_ORG        "pdericson"
set_var EASYRSA_REQ_EMAIL      "pdericson@pdericson.com"
set_var EASYRSA_REQ_OU         "pdericson"
set_var EASYRSA_ALGO           "ec"
set_var EASYRSA_DIGEST         "sha512"
